# rename this file to config.py
db_name="chats.db"
min_id_len=6
max_id_len=15
# TG
token_tg='1234567890:1q2w3e4r5t6y7u8i9opasdfghjklzxcvbnm'
bot_tag_tg='messages_mirror_bot'
admins_tg_id=[390623928,]
# VK 
token_vk_user='vk1.a.adsofkjgvapdofgjdspoifvhaspokdfjas'
group_id_vk=209831568
group_tag_vk='messages_mirror_bot'
admins_vk_id=[472153219,]
# messages
message_max_len=1000
message_reply_max_len=50