database_path="chats.db"
bot_version=[0,7]
id_len=[6,15] #min, max
message_max_len=1000
message_reply_max_len=38
attachments_forward=True
attachments_max_size_mb=5
attachments_dir='attachments'
# TG
tg_token=''
tg_bot_tag='messages_mirror_bot'
tg_admins_ids=[390623928,]
# VK 
vk_user_token=''
vk_group_id=209831568
vk_group_tag='messages_mirror_bot'
vk_admins_ids=[472153219,]